app/ninjectTemplage/*.suo
app/ninjectTemplage/_ReSharper.ninjectTemplage
app/ninjectTemplage/_ReSharper.ninjectTemplate
app/ninjectTemplage/bin
app/ninjectTemplage/obj

test/ninjectTemplate_Test/bin
test/ninjectTemplate_Test/obj

